html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

body {
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button, input {
  background: transparent;
  border: none;
}

button:focus,
input:focus {
  outline-width: 3px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.container {
  @include wrapper();
}