.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;   
        background-color: #000; 
        z-index: 2;
    }
    
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        z-index: 333;  
        transition: all .3s ease;   
        
    }
    &__logo {      
        width: 200px;
        z-index: 3;
    }
}

.header__body.smaller {
    height: 70px;    
}

.menu {  
    overflow: auto;
    @include md-block {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;       
        background-color: rgba(0, 0, 0, 0.8);    
        transition: all .3s ease;        
    }
    &__list {
        display: flex;
        align-items: center;   
        position: relative;     
        z-index: 2;        
        @include md-block {      
            flex-direction: column;  
            padding: 130px 0 50px 0;                    
        }
    }
    &__item:not(:last-child) {
        margin-right: 30px;
        @include md-block {
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
    &__link {     
        display: inline-block;   
        color: #fff;
        font-size: 18px;        
        padding-bottom: 5px;
        position: relative;
        &::before {
            content: "";
            border-bottom: 2px solid #fff;
            left: 0;
            bottom: 0;
            position: absolute;
            transition: all .24s ease-in-out;
            transform: scale(0);
            width: 100%;
            z-index: 3;
        }
        &:hover::before {
            transform: scale(1);
        }
    }
}

.menu.is-active {
    left: 0;    
}

.contacts {
    z-index: 3;
    @include md-block {
        margin-left: auto;      
    }
    @include sm-block {
        margin-left: 0;
    }
    &__order {       
        display: inline-block;  
        border: 2px solid #fff;
        border-radius: 6px;
        color: #fff;
        padding: 10px 20px;
        transition: all .3s ease;
        &:hover {  
            box-shadow: 0px 0px 14px -1px #FFFFFF;
        }
    }
    &__phone {           
        color: #fff;
        padding-left: 30px;
        margin-right: 25px; 
        &:hover {
            text-decoration: underline;
        }
        @include sm-block {
            display: block;
            margin-bottom: 25px;
            margin-right: 0;
        }
    }
}

.icon-menu {
    display: none;
    width: 40px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    z-index: 3;
    @include md-block {
        display: block;             
    }
    span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #fff;
        position: relative;
        &::before,
        &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background-color: #fff;
        transition: all .3s ease;
        }
        &::before {
            top: 10px;
        }
        &::after {
            top: -10px;
        }
    }
}

.icon-menu.is-active {
    span {
        background-color: transparent;
        &::before {
            top: 0;
            transform: rotate(45deg);
        }
        &::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}





