html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
}

body {
    min-width: 320px;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #544837;
}

body.overflow-hidden {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
li,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

button,
input {
    background: transparent;
    border: none;
}

a:focus,
input:focus,
button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}


// button:focus,
// input:focus {
//     // outline-width: 3px;
//     // outline: 2px solid rgba(3, 102, 214, 0.3);
// }

.container {
    @include wrapper();
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.footer {
    margin-top: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    border: 0;
    word-spacing: nowrap;
}

.err {
    border: 1px solid #dc3545;;
}

.valid {
    border: 1px solid #198754;
}