:root {
    font-size: 10px;
}

$gray: #6c757d;
$gray-dark: #343a40;
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$link: #212121;

$border-color: rgba(87, 41, 41, 0.2);
$shadow: rgba(0, 0, 0, 0.15);
$text-shadow: 0 0 .65px #333, 0 0 .65px #333;
